body {
    padding: 0;
    margin: 0;
    height: 2000px;
}

@media (min-width: 1219px) {
    /*top black shipping offer container*/
    #shipping_offer_container {
        float: left;
        text-align: center;
        height: 31px;
        width: 100%;
        background-color: black;
    }
    #shipping_offer {
        position: relative;
        color: white;
        text-decoration: none;
        top: 6.75px
    }
    #shipping_offer:hover {
        text-decoration: underline
    }
    /*Navbar container*/
    #navbar_container {
        position: sticky;
        top: 0;
        float: left;
        width: 100%;
        box-shadow: 0px -5px 15px black;
    }
    #navbar_double_container {
        float: left;
        padding-left: 17px;
        height: auto;
        max-height: 140px
    }
    #navbar_content_container {
        width: 100%;
        float: left;
        padding-top: 20px;
    }
    /*Menu Mobile*/
    #menu-mobile {
        display: none;
    }
    .menu-img {
        height: 68px;
        width: 68px;
        margin-left: -12px;
    }
    /*Hustler logo*/
    #hustler_logo {
        float: left;
        height: 50px;
        width: 235.61px;
    }
    #hustler_img {
        height: 50px;
        width: 171px;
    }
    /*Search Bar*/
    #search_bar_container {
        display: flex;
        float: left;
        width: 40%
    }
    .search-form {
        float: left;
        width: 100%
    }
    .search_bar {
        display: flex;
        float: left;
        height: 50px;
        width: 80%;
    }
    .search_button {
        float: left;
        height: 50px;
        width: 54px;
    }
    /*Log-in*/
    #log_n_cart_container {
        float: right;
        width: auto;
        height: 40px;
        padding-right: 50px
    }
    #log_n_cart_container ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: right;
    }
    #log_n_cart_container li {
        float: left;
    }
    #log_in {
        height: 40px;
    }
    .lock-img {
        height: 26px;
        width: 26px;
        float: left;
        padding-top: 0;
        padding-right: 0;
    }
    #acc_log {
        font-size: 15px;
        text-decoration: none;
        color: black;
        float: left;
        padding-top: 5px;
        padding-right: 10px;
        text-decoration: underline;
        font-size: 20.3px
    }
    #cart_vertical_line {
        float: left;
        padding-top: 5px;
        padding-right: 10px;
        font-size: 20.3px
    }
    #cart_container {
        float: left;
        height: 40px;
    }
    #cart-img {
        float: left;
        padding-top: 5px
    }
    #cart {
        float: left;
        font-size: 20.3px;
        text-decoration: none;
        color: black;
        padding-top: 5px
    }
    /*Tabs_n_shipping_container*/
    #navbar_tabs_n_shipping_container {
        float: left;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 22px;
    }
    /*Tabs*/
    #tabs_container {
        float: left;
        overflow: visible;
    }
    #tabs_container ul {
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
        overflow: visible;
    }
    #tabs_container li {
        float: left;
        overflow: visible;
    }
    #tabs_container li a {
        display: block;
        overflow: visible;
    }
    .tab {
        color: black;
        text-decoration: none;
        padding-right: 10px;
        font-size: 12px;
        font-family: 'BebasNeue' !important;
        transition: top 0.5s, color 0;
    }
    .tab:hover {
        position: relative;
        top: -3px;
        color: gray;
    }
    .fortab {
        color: red;
        text-decoration: underline;
        padding-right: 10px;
        font-size: 12px;
        font-family: 'BebasNeue' !important;
        transition: top 0.5s, color 0;
    }
    .fortab:hover {
        position: relative;
        top: -3px;
        color: gray;
    }
    /*Megamenu*/
    .tab-1 {
        height: 40px
    }
    .tab-1:hover .megamenu-1 {
        display: block;
    }
    .tab-1:hover .megamenu-2 {
        display: block;
    }
    .megamenu-1 {
        display: none;
        position: absolute;
        float: left;
        height: 510px;
        width: 765.33px;
        margin-top: 10px;
        background: url(/resources/hot-lady1.jpg);
        background-size: 765px;
        background-repeat: no-repeat;
    }
    .megamenu-2 {
        display: none;
        position: absolute;
        float: left;
        height: 510px;
        width: 765.33px;
        margin-top: 10px;
        left: 20px;
        background: url(/resources/hot-lady-2.jpg);
        background-size: 765px;
        background-repeat: no-repeat;
    }
    .megamenu_title {
        font-size: 16px;
        color: black;
        text-decoration: underline;
    }
    .megamenu_link {
        font-size: 12px;
        color: black;
        text-decoration: none;
    }
    /*shipping right bottom*/
    #shipping-offers {
        float: right;
        height: 40px;
        width: 39%;
        margin-top: -20px;
        /* padding-left: 0; */
        /* padding-right: 0; */
    }
    #fast-shipping-container {
        float: left;
        width: auto;
        padding-right: 15px
    }
    #fast-shipping-container a {
        float: left;
    }
    .free-img {
        height: 38px;
        width: 38px;
        float: left;
    }
    #free-shipping-title {
        float: left;
        font-size: 12px;
        height: 12px;
        margin-top: 5px;
        padding-left: 2px;
        color: black;
        text-decoration: none;
    }
    #free-shipping-description {
        font-size: 12px;
        float: left;
        margin-top: 20px;
        height: 12px;
        padding-top: 0;
        margin-left: -90px;
        color: black;
        text-decoration: none;
    }
    #discrete-shipping-container {
        float: left;
        padding-right: 15px
    }
    #discrete-shipping-container a {
        float: left;
    }
    #discrete-shipping-title {
        float: left;
        font-size: 12px;
        height: 12px;
        margin-top: 5px;
        padding-left: 2px;
        color: black;
        text-decoration: none;
    }
    #discrete-shipping-description {
        font-size: 12px;
        float: left;
        margin-top: 20px;
        height: 12px;
        padding-top: 0;
        margin-left: -120px;
        color: black;
        text-decoration: none;
    }
    #surprise-shipping-container {
        float: left;
    }
    #surprise-shipping-container a {
        float: left;
        padding-right: 15px
    }
    #surprise-shipping-title {
        float: left;
        font-size: 12px;
        height: 12px;
        margin-top: 5px;
        padding-left: 2px;
        color: black;
        text-decoration: none;
    }
    #surprise-shipping-description {
        font-size: 12px;
        float: left;
        margin-top: 20px;
        height: 12px;
        padding-top: 0;
        margin-left: -90px;
        color: black;
        text-decoration: none;
    }
    /*Body Content*/
    /*Main Article Container*/
    #main-article-container {
        float: left;
        width: 100%;
    }
    /*breadcrumbs*/
    #breadcrumbs {
        float: left;
        width: 100%;
        font-size: 1px;
        padding-top: 30px;
        /*padding-left: 15px;*/
    }
    ul.breadcrumb {
        padding: 10px 16px;
        list-style: none;
    }
    ul.breadcrumb li {
        display: inline;
        font-size: 15px;
    }
    ul.breadcrumb li+li:before {
        padding: 4px;
        color: black;
        content: ">";
    }
    ul.breadcrumb li a {
        color: black;
        text-decoration: none;
        font-size: 15px
    }
    ul.breadcrumb li a:hover {
        color: red;
        text-decoration: none;
    }
    @media (min-width: 1219px) and (max-width: 1253px) {
        .tab {
            padding-right: 1px;
        }
        #fast-shipping-container {
            padding-right: 9px;
        }
        #discrete-shipping-container {
            padding-right: 9px;
        }
    }
}

/*Media query for 900px to 1273px*/

@media (min-width: 900px) and (max-width: 1218px) {
    /*top black shipping offer container*/
    #shipping_offer_container {
        float: left;
        text-align: center;
        height: 31px;
        width: 100%;
        background-color: black;
    }
    #shipping_offer {
        position: relative;
        color: white;
        text-decoration: none;
        top: 6.75px
    }
    #shipping_offer:hover {
        text-decoration: underline
    }
    /*Navbar container*/
    #navbar_container {
        position: sticky;
        top: 0;
        float: left;
        width: 100%;
        box-shadow: 0px -5px 15px black;
        /*margin: 0 -10px*/
    }
    #navbar_double_container {
        float: left;
        /*padding-left: 17px;*/
        height: auto;
        max-height: 170px
    }
    #navbar_content_container {
        width: 100%;
        float: left;
        padding-top: 20px;
    }
    /*Menu Mobile*/
    #menu-mobile {
        float: left;
    }
    .menu-img {
        height: 68px;
        width: 68px;
        margin-left: -12px;
    }
    /*Hustler logo*/
    #hustler_logo {
        float: left;
        height: 50px;
        width: 235.61px;
    }
    #hustler_img {
        height: 50px;
        width: 171px;
    }
    /*Search Bar*/
    #search_bar_container {
        display: flex;
        float: left;
        width: 45%
    }
    .search-form {
        float: left;
        width: 100%
    }
    .search_bar {
        display: flex;
        float: left;
        height: 50px;
        width: 80%;
    }
    .search_button {
        float: left;
        height: 50px;
        width: 54px;
    }
    /*Log-in*/
    #log_n_cart_container {
        float: right;
        width: auto;
        height: 40px;
        padding-right: 20px
    }
    #log_n_cart_container ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: right;
    }
    #log_n_cart_container li {
        float: left;
    }
    #log_in {
        height: 40px;
    }
    .lock-img {
        height: 26px;
        width: 26px;
        float: left;
        padding-top: 0;
        padding-right: 0;
    }
    #acc_log {
        font-size: 15px;
        text-decoration: none;
        color: black;
        float: left;
        padding-top: 5px;
        padding-right: 10px;
        text-decoration: underline;
        font-size: 20.3px
    }
    #cart_vertical_line {
        float: left;
        padding-top: 5px;
        padding-right: 10px;
        font-size: 20.3px
    }
    #cart_container {
        float: left;
        height: 40px;
    }
    #cart-img {
        float: left;
        padding-top: 5px
    }
    #cart {
        float: left;
        font-size: 20.3px;
        text-decoration: none;
        color: black;
        padding-top: 5px
    }
    /*Tabs_n_shipping_container*/
    #navbar_tabs_n_shipping_container {
        float: left;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 22px;
    }
    /*Tabs*/
    #tabs_container {
        display: none;
        float: left;
        overflow: visible;
    }
    #tabs_container ul {
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
        overflow: visible;
    }
    #tabs_container li {
        float: left;
        overflow: visible;
    }
    #tabs_container li a {
        display: block;
        overflow: visible;
    }
    .tab {
        color: black;
        text-decoration: none;
        padding-right: 10px;
        font-size: 12px;
        font-family: 'BebasNeue' !important;
        transition: top 0.5s, color 0;
    }
    .tab:hover {
        position: relative;
        top: -3px;
        color: gray;
    }
    .fortab {
        color: red;
        text-decoration: underline;
        padding-right: 10px;
        font-size: 12px;
        font-family: 'BebasNeue' !important;
        transition: top 0.5s, color 0;
    }
    .fortab:hover {
        position: relative;
        top: -3px;
        color: gray;
    }
    /*Megamenu*/
    .tab-1 {
        height: 40px
    }
    .tab-1:hover .megamenu-1 {
        display: block;
    }
    .tab-1:hover .megamenu-2 {
        display: block;
    }
    .megamenu-1 {
        display: none;
        position: absolute;
        float: left;
        height: 510px;
        width: 765.33px;
        margin-top: 10px;
        background: url(/resources/hot-lady1.jpg);
        background-size: 765px;
        background-repeat: no-repeat;
    }
    .megamenu-2 {
        display: none;
        position: absolute;
        float: left;
        height: 510px;
        width: 765.33px;
        margin-top: 10px;
        left: 20px;
        background: url(/resources/hot-lady-2.jpg);
        background-size: 765px;
        background-repeat: no-repeat;
    }
    .megamenu_title {
        font-size: 16px;
        color: black;
        text-decoration: underline;
    }
    .megamenu_link {
        font-size: 12px;
        color: black;
        text-decoration: none;
    }
    /*shipping right bottom*/
    #shipping-offers {
        float: left;
        height: 40px;
        width: auto;
        margin-top: -20px;
        padding-left: 30%;
    }
    #fast-shipping-container {
        float: left;
        width: auto;
        padding-right: 10px
    }
    #fast-shipping-container a {
        float: left;
    }
    .free-img {
        height: 38px;
        width: 38px;
        float: left;
    }
    #free-shipping-title {
        float: left;
        font-size: 12px;
        height: 12px;
        margin-top: 5px;
        padding-left: 2px;
        color: black;
        text-decoration: none;
    }
    #free-shipping-description {
        font-size: 12px;
        float: left;
        margin-top: 20px;
        height: 12px;
        padding-top: 0;
        margin-left: -90px;
        color: black;
        text-decoration: none;
    }
    #discrete-shipping-container {
        float: left;
        padding-right: 10px
    }
    #discrete-shipping-container a {
        float: left;
    }
    #discrete-shipping-title {
        float: left;
        font-size: 12px;
        height: 12px;
        margin-top: 5px;
        padding-left: 2px;
        color: black;
        text-decoration: none;
    }
    #discrete-shipping-description {
        font-size: 12px;
        float: left;
        margin-top: 20px;
        height: 12px;
        padding-top: 0;
        margin-left: -120px;
        color: black;
        text-decoration: none;
    }
    #surprise-shipping-container {
        float: left;
    }
    #surprise-shipping-container a {
        float: left;
    }
    #surprise-shipping-title {
        float: left;
        font-size: 12px;
        height: 12px;
        margin-top: 5px;
        padding-left: 2px;
        color: black;
        text-decoration: none;
    }
    #surprise-shipping-description {
        font-size: 12px;
        float: left;
        margin-top: 20px;
        height: 12px;
        padding-top: 0;
        margin-left: -90px;
        color: black;
        text-decoration: none;
    }
    /*Body Content*/
    /*Main Article Container*/
    #main-article-container {
        float: left;
        width: 100%;
    }
    /*breadcrumbs*/
    #breadcrumbs {
        float: left;
        width: 100%;
        font-size: 1px;
        padding-top: 30px;
        /*padding-left: 15px;*/
    }
    ul.breadcrumb {
        padding: 10px 16px;
        list-style: none;
    }
    ul.breadcrumb li {
        display: inline;
        font-size: 15px;
    }
    ul.breadcrumb li+li:before {
        padding: 4px;
        color: black;
        content: ">";
    }
    ul.breadcrumb li a {
        color: black;
        text-decoration: none;
        font-size: 15px
    }
    ul.breadcrumb li a:hover {
        color: red;
        text-decoration: none;
    }
}

/*query for 823px to 900px*/

@media (min-width: 818px) and (max-width: 900px) {
    
    /*top black shipping offer container*/
    #shipping_offer_container {
        float: left;
        text-align: center;
        height: 31px;
        width: 100%;
        background-color: black;
    }
    #shipping_offer {
        position: relative;
        color: white;
        text-decoration: none;
        top: 6.75px;
    }
    #shipping_offer:hover {
        text-decoration: underline
    }
    /*Navbar container*/
    #navbar_container {
        position: sticky;
        top: 0;
        float: left;
        width: 100%;
        box-shadow: 0px -5px 15px black;
        /*margin: 0 -10px*/
    }
    #navbar_double_container {
        float: left;
        height: auto;
        max-height: 90px;
    }
    #navbar_content_container {
        width: 100%;
        float: left;
        padding-top: 20px;
    }
    /*Menu Mobile*/
    #menu-mobile {
        float: left;
    }
    .menu-img {
        height: 68px;
        width: 68px;
        margin-left: -12px;
    }
    /*Hustler logo*/
    #hustler_logo {
        float: left;
        height: 50px;
        width: auto;
        padding-right: 30px;
    }
    #hustler_img {
        height: 50px;
        width: 171px;
    }

    #search_bar_container {
        display: flex;
        float: left;
        width: 40%
    }
    .search-form {
        float: left;
        width: 100%
    }
    .search_bar {
        display: flex;
        float: left;
        height: 50px;
        width: 80%;
    }
    .search_button {
        float: left;
        height: 50px;
        width: 54px;
    }
    /*Log-in*/

    #log_n_cart_container {
        float: right;
        width: auto;
        height: 40px;
        padding-right: 15px
    }
    #log_n_cart_container ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: right;
    }
    #log_n_cart_container li {
        float: left;
    }
    #log_in {
        height: 40px;
    }
    .lock-img {
        height: 26px;
        width: 26px;
        float: left;
        padding-top: 0;
        padding-right: 0;
    }
    #acc_log {
        font-size: 15px;
        text-decoration: none;
        color: black;
        float: left;
        padding-top: 5px;
        padding-right: 10px;
        text-decoration: underline;
        font-size: 20.3px
    }
    #cart_vertical_line {
        float: left;
        padding-top: 5px;
        padding-right: 10px;
        font-size: 20.3px
    }
    #cart_container {
        float: left;
        height: 40px;
    }
    #cart-img {
        float: left;
        padding-top: 5px
    }
    #cart {
        float: left;
        font-size: 20.3px;
        text-decoration: none;
        color: black;
        padding-top: 5px
    }
    /*Tabs_n_shipping_container*/
    #navbar_tabs_n_shipping_container {
        float: left;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 22px;
    }
    /*Tabs*/
    #tabs_container {
        display: none;
        float: left;
        overflow: visible;
    }
    #tabs_container ul {
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
        overflow: visible;
    }
    #tabs_container li {
        float: left;
        overflow: visible;
    }
    #tabs_container li a {
        display: block;
        overflow: visible;
    }
    .tab {
        color: black;
        text-decoration: none;
        padding-right: 10px;
        font-size: 12px;
        font-family: 'BebasNeue' !important;
        transition: top 0.5s, color 0;
    }
    .tab:hover {
        position: relative;
        top: -3px;
        color: gray;
    }
    .fortab {
        color: red;
        text-decoration: underline;
        padding-right: 10px;
        font-size: 12px;
        font-family: 'BebasNeue' !important;
        transition: top 0.5s, color 0;
    }
    .fortab:hover {
        position: relative;
        top: -3px;
        color: gray;
    }
    /*Megamenu*/
    .tab-1 {
        height: 40px
    }
    .tab-1:hover .megamenu-1 {
        display: block;
    }
    .tab-1:hover .megamenu-2 {
        display: block;
    }
    .megamenu-1 {
        display: none;
        position: absolute;
        float: left;
        height: 510px;
        width: 765.33px;
        margin-top: 10px;
        background: url(/resources/hot-lady1.jpg);
        background-size: 765px;
        background-repeat: no-repeat;
    }
    .megamenu-2 {
        display: none;
        position: absolute;
        float: left;
        height: 510px;
        width: 765.33px;
        margin-top: 10px;
        left: 20px;
        background: url(/resources/hot-lady-2.jpg);
        background-size: 765px;
        background-repeat: no-repeat;
    }
    .megamenu_title {
        font-size: 16px;
        color: black;
        text-decoration: underline;
    }
    .megamenu_link {
        font-size: 12px;
        color: black;
        text-decoration: none;
    }
    /*shipping right bottom*/
    #shipping-offers {
        float: left;
        height: 40px;
        width: auto;
        margin-top: -20px;
        padding-left: 30%;
        opacity: 0;
    }
    #fast-shipping-container {
        float: left;
        width: auto;
        padding-right: 10px
    }
    #fast-shipping-container a {
        float: left;
    }
    .free-img {
        height: 38px;
        width: 38px;
        float: left;
    }
    #free-shipping-title {
        float: left;
        font-size: 12px;
        height: 12px;
        margin-top: 5px;
        padding-left: 2px;
        color: black;
        text-decoration: none;
    }
    #free-shipping-description {
        font-size: 12px;
        float: left;
        margin-top: 20px;
        height: 12px;
        padding-top: 0;
        margin-left: -90px;
        color: black;
        text-decoration: none;
    }
    #discrete-shipping-container {
        float: left;
        padding-right: 10px
    }
    #discrete-shipping-container a {
        float: left;
    }
    #discrete-shipping-title {
        float: left;
        font-size: 12px;
        height: 12px;
        margin-top: 5px;
        padding-left: 2px;
        color: black;
        text-decoration: none;
    }
    #discrete-shipping-description {
        font-size: 12px;
        float: left;
        margin-top: 20px;
        height: 12px;
        padding-top: 0;
        margin-left: -120px;
        color: black;
        text-decoration: underline;
    }
    #surprise-shipping-container {
        float: left;
    }
    #surprise-shipping-container a {
        float: left;
    }
    #surprise-shipping-title {
        float: left;
        font-size: 12px;
        height: 12px;
        margin-top: 5px;
        padding-left: 2px;
        color: black;
        text-decoration: none;
    }
    #surprise-shipping-description {
        font-size: 12px;
        float: left;
        margin-top: 20px;
        height: 12px;
        padding-top: 0;
        margin-left: -90px;
        color: black;
        text-decoration: none;
    }
    /*Body Content*/
    /*Main Article Container*/
    #main-article-container {
        float: left;
        width: 100%;
    }
    /*breadcrumbs*/
    #breadcrumbs {
        float: left;
        width: 100%;
        font-size: 1px;
        padding-top: 30px;
        /*padding-left: 15px;*/
    }
    ul.breadcrumb {
        padding: 10px 16px;
        list-style: none;
    }
    ul.breadcrumb li {
        display: inline;
        font-size: 15px;
    }
    ul.breadcrumb li+li:before {
        padding: 4px;
        color: black;
        content: ">";
    }
    ul.breadcrumb li a {
        color: black;
        text-decoration: none;
        font-size: 15px
    }
    ul.breadcrumb li a:hover {
        color: red;
        text-decoration: none;
    }
}

@media (min-width: 540px) and (max-width: 817px) {
       
    /*top black shipping offer container*/
    #shipping_offer_container {
        float: left;
        text-align: center;
        height: 31px;
        width: 100%;
        background-color: black;
    }
    #shipping_offer {
        position: relative;
        color: white;
        text-decoration: none;
        top: 6.75px;
    }
    #shipping_offer:hover {
        text-decoration: underline
    }
    /*Navbar container*/
    #navbar_container {
        position: sticky;
        top: 0;
        float: left;
        width: 100%;
        box-shadow: 0px -5px 15px black;
        /*margin: 0 -10px*/
    }
    #navbar_double_container {
        float: left;
        height: 230px;
        max-height: 230px;
    }
    #navbar_content_container {
        width: 100%;
        float: left;
        padding-top: 20px;
    }
    /*Menu Mobile*/
    #menu-mobile {
        float: left;
    }
    .menu-img {
        height: 68px;
        width: 68px;
        margin-left: -12px;
    }
    /*Hustler logo*/
    #hustler_logo {
        float: left;
        height: 50px;
        width: auto;
        padding-right: 30px;
    }
    #hustler_img {
        height: 50px;
        width: 171px;
    }

    #search_bar_container {
            /* display: flex; */
    /* float: left; */
    width: 100%;
    margin-top: 60px;
    /*margin-left: 45px;*/
    }
    .search-form {
        float: left;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .search_bar {
        display: flex;
        float: left;
        height: 50px;
        width: 80%;
    }
    .search_button {
        float: left;
        height: 50px;
        width: 54px;
    }
    /*Log-in*/

    #log_n_cart_container {
        position: absolute;
        /* float: right; */
        width: auto;
        height: 40px;
        padding-right: 15px;
        right: 5px;
        top: 45px;
    }
    #log_n_cart_container ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: right;
    }
    #log_n_cart_container li {
        float: left;
    }
    #log_in {
        height: 40px;
    }
    .lock-img {
        height: 26px;
        width: 26px;
        float: left;
        padding-top: 0;
        padding-right: 0;
    }
    #acc_log {
        font-size: 15px;
        text-decoration: none;
        color: black;
        float: left;
        padding-top: 5px;
        padding-right: 10px;
        text-decoration: underline;
        font-size: 20.3px
    }
    #cart_vertical_line {
        float: left;
        padding-top: 5px;
        padding-right: 10px;
        font-size: 20.3px
    }
    #cart_container {
        float: left;
        height: 40px;
    }
    #cart-img {
        float: left;
        padding-top: 5px
    }
    #cart {
        float: left;
        font-size: 20.3px;
        text-decoration: none;
        color: black;
        padding-top: 5px
    }
    /*Tabs_n_shipping_container*/
    #navbar_tabs_n_shipping_container {
        float: left;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 22px;
    }
    /*Tabs*/
    #tabs_container {
        display: none;
        float: left;
        overflow: visible;
    }
    #tabs_container ul {
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
        overflow: visible;
    }
    #tabs_container li {
        float: left;
        overflow: visible;
    }
    #tabs_container li a {
        display: block;
        overflow: visible;
    }
    .tab {
        color: black;
        text-decoration: none;
        padding-right: 10px;
        font-size: 12px;
        font-family: 'BebasNeue' !important;
        transition: top 0.5s, color 0;
    }
    .tab:hover {
        position: relative;
        top: -3px;
        color: gray;
    }
    .fortab {
        color: red;
        text-decoration: underline;
        padding-right: 10px;
        font-size: 12px;
        font-family: 'BebasNeue' !important;
        transition: top 0.5s, color 0;
    }
    .fortab:hover {
        position: relative;
        top: -3px;
        color: gray;
    }
    /*Megamenu*/
    .tab-1 {
        height: 40px
    }
    .tab-1:hover .megamenu-1 {
        display: block;
    }
    .tab-1:hover .megamenu-2 {
        display: block;
    }
    .megamenu-1 {
        display: none;
        position: absolute;
        float: left;
        height: 510px;
        width: 765.33px;
        margin-top: 10px;
        background: url(/resources/hot-lady1.jpg);
        background-size: 765px;
        background-repeat: no-repeat;
    }
    .megamenu-2 {
        display: none;
        position: absolute;
        float: left;
        height: 510px;
        width: 765.33px;
        margin-top: 10px;
        left: 20px;
        background: url(/resources/hot-lady-2.jpg);
        background-size: 765px;
        background-repeat: no-repeat;
    }
    .megamenu_title {
        font-size: 16px;
        color: black;
        text-decoration: underline;
    }
    .megamenu_link {
        font-size: 12px;
        color: black;
        text-decoration: none;
    }
    /*shipping right bottom*/
    #shipping-offers {
        /*float: left;
        height: 40px;
        width: auto;
        margin-top: 0px;
        padding-left: 17%;
        opacity: 1;*/
        height: 40px;
        display: flex;
        justify-content: center;
    }
    #fast-shipping-container {
        float: left;
        width: auto;
        padding-right: 10px
    }
    #fast-shipping-container a {
        float: left;
    }
    .free-img {
        height: 38px;
        width: 38px;
        float: left;
    }
    #free-shipping-title {
        float: left;
        font-size: 12px;
        height: 12px;
        margin-top: 5px;
        padding-left: 2px;
        color: black;
        text-decoration: none;
    }
    #free-shipping-description {
        font-size: 12px;
        float: left;
        margin-top: 20px;
        height: 12px;
        padding-top: 0;
        margin-left: -90px;
        color: black;
        text-decoration: none;
    }
    #discrete-shipping-container {
        float: left;
        padding-right: 10px
    }
    #discrete-shipping-container a {
        float: left;
    }
    #discrete-shipping-title {
        float: left;
        font-size: 12px;
        height: 12px;
        margin-top: 5px;
        padding-left: 2px;
        color: black;
        text-decoration: none;
    }
    #discrete-shipping-description {
        font-size: 12px;
        float: left;
        margin-top: 20px;
        height: 12px;
        padding-top: 0;
        margin-left: -120px;
        color: black;
        text-decoration: none;
    }
    #surprise-shipping-container {
        float: left;
    }
    #surprise-shipping-container a {
        float: left;
    }
    #surprise-shipping-title {
        float: left;
        font-size: 12px;
        height: 12px;
        margin-top: 5px;
        padding-left: 2px;
        color: black;
        text-decoration: underline;
    }
    #surprise-shipping-description {
        font-size: 12px;
        float: left;
        margin-top: 20px;
        height: 12px;
        padding-top: 0;
        margin-left: -90px;
        color: black;
        text-decoration: underline;
    }
    /*Body Content*/
    /*Main Article Container*/
    #main-article-container {
        float: left;
        width: 100%;
    }
    /*breadcrumbs*/
    #breadcrumbs {
        float: left;
        width: 100%;
        font-size: 1px;
        padding-top: 30px;
        /*padding-left: 15px;*/
    }
    ul.breadcrumb {
        padding: 10px 16px;
        list-style: none;
    }
    ul.breadcrumb li {
        display: inline;
        font-size: 15px;
    }
    ul.breadcrumb li+li:before {
        padding: 4px;
        color: black;
        content: ">";
    }
    ul.breadcrumb li a {
        color: black;
        text-decoration: none;
        font-size: 15px
    }
    ul.breadcrumb li a:hover {
        color: red;
        text-decoration: none;
    }
}

@media (min-width: 451px) and (max-width: 539px) {
    /*top black shipping offer container*/
    #shipping_offer_container {
        float: left;
        text-align: center;
        height: 31px;
        width: 100%;
        background-color: black;
    }
    #shipping_offer {
        position: relative;
        color: white;
        text-decoration: none;
        top: 6.75px;
    }
    #shipping_offer:hover {
        text-decoration: underline
    }
    /*Navbar container*/
    #navbar_container {
        position: sticky;
        top: 0;
        float: left;
        width: 100%;
        box-shadow: 0px -5px 15px black;
        /*margin: 0 -10px*/
    }
    #navbar_double_container {
        float: left;
        height: 230px;
        max-height: 230px;
    }
    #navbar_content_container {
        width: 100%;
        float: left;
        padding-top: 20px;
    }
    /*Menu Mobile*/
    #menu-mobile {
        float: left;
    }
    .menu-img {
        height: 68px;
        width: 68px;
        margin-left: -12px;
    }
    /*Hustler logo*/
    #hustler_logo {
        float: left;
        height: 50px;
        width: auto;
        padding-right: 30px;
    }
    #hustler_img {
        height: 50px;
        width: 171px;
    }

    #search_bar_container {
            /* display: flex; */
    /* float: left; */
    width: 100%;
    margin-top: 60px;
    /*margin-left: 45px;*/
    }
    .search-form {
        float: left;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .search_bar {
        display: flex;
        float: left;
        height: 50px;
        width: 80%;
    }
    .search_button {
        float: left;
        height: 50px;
        width: 54px;
    }
    /*Log-in*/

    #log_n_cart_container {
        position: absolute;
        /* float: right; */
        width: auto;
        height: 40px;
        padding-right: 15px;
        right: 5px;
        top: 45px;
    }
    #log_n_cart_container ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: right;
    }
    #log_n_cart_container li {
        float: left;
    }
    #log_in {
        height: 40px;
    }
    .lock-img {
        height: 26px;
        width: 26px;
        float: left;
        padding-top: 0;
        padding-right: 0;
    }
    #acc_log {
        font-size: 15px;
        text-decoration: none;
        color: black;
        float: left;
        padding-top: 5px;
        padding-right: 10px;
        text-decoration: underline;
        font-size: 20.3px
    }
    #cart_vertical_line {
        float: left;
        padding-top: 5px;
        padding-right: 10px;
        font-size: 20.3px
    }
    #cart_container {
        float: left;
        height: 40px;
    }
    #cart-img {
        float: left;
        padding-top: 5px
    }
    #cart {
        float: left;
        font-size: 20.3px;
        text-decoration: none;
        color: black;
        padding-top: 5px
    }
    /*Tabs_n_shipping_container*/
    #navbar_tabs_n_shipping_container {
        float: left;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 22px;
    }
    /*Tabs*/
    #tabs_container {
        display: none;
        float: left;
        overflow: visible;
    }
    #tabs_container ul {
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
        overflow: visible;
    }
    #tabs_container li {
        float: left;
        overflow: visible;
    }
    #tabs_container li a {
        display: block;
        overflow: visible;
    }
    .tab {
        color: black;
        text-decoration: none;
        padding-right: 10px;
        font-size: 12px;
        font-family: 'BebasNeue' !important;
        transition: top 0.5s, color 0;
    }
    .tab:hover {
        position: relative;
        top: -3px;
        color: gray;
    }
    .fortab {
        color: red;
        text-decoration: underline;
        padding-right: 10px;
        font-size: 12px;
        font-family: 'BebasNeue' !important;
        transition: top 0.5s, color 0;
    }
    .fortab:hover {
        position: relative;
        top: -3px;
        color: gray;
    }
    /*Megamenu*/
    .tab-1 {
        height: 40px
    }
    .tab-1:hover .megamenu-1 {
        display: block;
    }
    .tab-1:hover .megamenu-2 {
        display: block;
    }
    .megamenu-1 {
        display: none;
        position: absolute;
        float: left;
        height: 510px;
        width: 765.33px;
        margin-top: 10px;
        background: url(/resources/hot-lady1.jpg);
        background-size: 765px;
        background-repeat: no-repeat;
    }
    .megamenu-2 {
        display: none;
        position: absolute;
        float: left;
        height: 510px;
        width: 765.33px;
        margin-top: 10px;
        left: 20px;
        background: url(/resources/hot-lady-2.jpg);
        background-size: 765px;
        background-repeat: no-repeat;
    }
    .megamenu_title {
        font-size: 16px;
        color: black;
        text-decoration: underline;
    }
    .megamenu_link {
        font-size: 12px;
        color: black;
        text-decoration: none;
    }
    /*shipping right bottom*/
    #shipping-offers {
        /*float: left;
        width: auto;
        margin-top: 0px;
        padding-left: 17%;
        opacity: 1;*/
        height: 40px;
        display: flex;
        justify-content: center;
    }
    #fast-shipping-container {
        float: left;
        width: auto;
        /*padding-right: 10px*/
    }
    #fast-shipping-container a {
        float: left;
    }
    .free-img {
        height: 38px;
        width: 38px;
        float: left;
    }
    #free-shipping-title {
        float: left;
        font-size: 12px;
        height: 12px;
        margin-top: 5px;
        padding-left: 2px;
        color: black;
        text-decoration: none;
    }
    #free-shipping-description {
        font-size: 12px;
        float: left;
        margin-top: 20px;
        height: 12px;
        padding-top: 0;
        margin-left: -90px;
        color: black;
        text-decoration: none;
    }
    #discrete-shipping-container {
        float: left;
        /*padding-right: 10px*/
    }
    #discrete-shipping-container a {
        float: left;
    }
    #discrete-shipping-title {
        float: left;
        font-size: 12px;
        height: 12px;
        margin-top: 5px;
        padding-left: 2px;
        color: black;
        text-decoration: none;
    }
    #discrete-shipping-description {
        font-size: 12px;
        float: left;
        margin-top: 20px;
        height: 12px;
        padding-top: 0;
        margin-left: -120px;
        color: black;
        text-decoration: none;
    }
    #surprise-shipping-container {
        float: left;
    }
    #surprise-shipping-container a {
        float: left;
    }
    #surprise-shipping-title {
        float: left;
        font-size: 12px;
        height: 12px;
        margin-top: 5px;
        padding-left: 2px;
        color: black;
        text-decoration: underline;
    }
    #surprise-shipping-description {
        font-size: 12px;
        float: left;
        margin-top: 20px;
        height: 12px;
        padding-top: 0;
        margin-left: -90px;
        color: black;
        text-decoration: underline;
    }
    /*Body Content*/
    /*Main Article Container*/
    #main-article-container {
        float: left;
        width: 100%;
    }
    /*breadcrumbs*/
    #breadcrumbs {
        float: left;
        width: 100%;
        font-size: 1px;
        padding-top: 30px;
        /*padding-left: 15px;*/
    }
    ul.breadcrumb {
        padding: 10px 16px;
        list-style: none;
    }
    ul.breadcrumb li {
        display: inline;
        font-size: 15px;
    }
    ul.breadcrumb li+li:before {
        padding: 4px;
        color: black;
        content: ">";
    }
    ul.breadcrumb li a {
        color: black;
        text-decoration: none;
        font-size: 15px
    }
    ul.breadcrumb li a:hover {
        color: red;
        text-decoration: none;
    }
}

@media (max-width: 451px) {
    /*top black shipping offer container*/
    #shipping_offer_container {
        float: left;
        text-align: center;
        height: 31px;
        width: 100%;
        background-color: black;
        display: none;
    }
    #shipping_offer {
        position: relative;
        color: white;
        text-decoration: none;
        top: 6.75px;
    }
    #shipping_offer:hover {
        text-decoration: underline
    }
    /*Navbar container*/
    #navbar_container {
        position: sticky;
        top: 0;
        float: left;
        width: 100%;
        box-shadow: 0px -5px 15px black;
        /*margin: 0 -10px*/
    }
    #navbar_double_container {
        float: left;
        height: 230px;
        max-height: 200px;
    }
    #navbar_content_container {
        width: 100%;
        float: left;
        /*padding-top: 20px;*/
    }
    /*Menu Mobile*/
    #menu-mobile {
        float: left;
    }
    .menu-img {
        height: 68px;
        width: 68px;
    }
    /*Hustler logo*/
    #hustler_logo {
        float: left;
        height: 50px;
        width: auto;
        padding-right: 30px;
        padding-top: 15px;
    }
    #hustler_img {
        height: 33px;
        /*width: 171px;*/
    }

    #search_bar_container {
            /* display: flex; */
    /* float: left; */
    width: 100%;
    margin-top: 60px;
    /*margin-left: 45px;*/
    }
    .search-form {
        float: left;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .search_bar {
        display: flex;
        float: left;
        height: 25px;
        width: 80%;
    }
    .search_button {
        float: left;
        height: 30px;
        width: 25px;
    }
    /*Log-in*/

    #log_n_cart_container {
        position: absolute;
        /* float: right; */
        width: auto;
        height: 40px;
        padding-right: 25px;
        right: 5px;
        top: 25px;
    }
    #log_n_cart_container ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: right;
    }
    #log_n_cart_container li {
        float: left;
    }
    #log_in {
        height: 40px;
    }
    .lock-img {
        height: 20px;
        width: 20px;
        float: left;
        padding-top: 0;
        padding-right: 0;
    }
    #acc_log {
        font-size: 15px;
        text-decoration: none;
        color: black;
        float: left;
        padding-top: 5px;
        padding-right: 10px;
        text-decoration: none;
        font-size: 14px
    }
    #cart_vertical_line {
        float: left;
        padding-top: 5px;
        padding-right: 10px;
        font-size: 20.3px
    }
    #cart_container {
        float: left;
        height: 40px;
    }
    #cart-img {
        float: left;
        padding-top: 5px
    }
    #cart {
        float: left;
        font-size: 14px;
        text-decoration: none;
        color: black;
        padding-top: 5px
    }
    /*Tabs_n_shipping_container*/
    #navbar_tabs_n_shipping_container {
        float: left;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 22px;
    }
    /*Tabs*/
    #tabs_container {
        display: none;
        float: left;
        overflow: visible;
    }
    #tabs_container ul {
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
        overflow: visible;
    }
    #tabs_container li {
        float: left;
        overflow: visible;
    }
    #tabs_container li a {
        display: block;
        overflow: visible;
    }
    .tab {
        color: black;
        text-decoration: none;
        padding-right: 10px;
        font-size: 12px;
        font-family: 'BebasNeue' !important;
        transition: top 0.5s, color 0;
    }
    .tab:hover {
        position: relative;
        top: -3px;
        color: gray;
    }
    .fortab {
        color: red;
        text-decoration: underline;
        padding-right: 10px;
        font-size: 12px;
        font-family: 'BebasNeue' !important;
        transition: top 0.5s, color 0;
    }
    .fortab:hover {
        position: relative;
        top: -3px;
        color: gray;
    }
    /*Megamenu*/
    .tab-1 {
        height: 40px
    }
    .tab-1:hover .megamenu-1 {
        display: block;
    }
    .tab-1:hover .megamenu-2 {
        display: block;
    }
    .megamenu-1 {
        display: none;
        position: absolute;
        float: left;
        height: 510px;
        width: 765.33px;
        margin-top: 10px;
        background: url(/resources/hot-lady1.jpg);
        background-size: 765px;
        background-repeat: no-repeat;
    }
    .megamenu-2 {
        display: none;
        position: absolute;
        float: left;
        height: 510px;
        width: 765.33px;
        margin-top: 10px;
        left: 20px;
        background: url(/resources/hot-lady-2.jpg);
        background-size: 765px;
        background-repeat: no-repeat;
    }
    .megamenu_title {
        font-size: 16px;
        color: black;
        text-decoration: underline;
    }
    .megamenu_link {
        font-size: 12px;
        color: black;
        text-decoration: none;
    }
    /*shipping right bottom*/
    #shipping-offers {
        /*float: left;
        width: auto;
        margin-top: 0px;
        padding-left: 17%;
        opacity: 1;*/
        height: 40px;
        display: flex;
        justify-content: center;
        margin-left: 15px;
        margin-right: 15px;
    }
    #fast-shipping-container {
        float: left;
        width: auto;
        /*padding-right: 10px*/
    }
    #fast-shipping-container a {
        float: left;
        padding-left: 15px
    }
    .free-img {
    height: 22px;
    width: 22px;
    float: left;
    padding-left: 30px;
    }
    #free-shipping-title {
        float: left;
        font-size: 10px;
        height: 12px;
        margin-top: 5px;
        padding-left: 2px;
        color: black;
        text-decoration: none;
    }
    #free-shipping-description {
        font-size: 10px;
        float: left;
        margin-top: 20px;
        height: 12px;
        padding-top: 0;
        margin-left: -75px;
        color: black;
        text-decoration: none;
    }
    #discrete-shipping-container {
        float: left;
        /*padding-right: 10px*/
    }
    #discrete-shipping-container a {
        float: left;
    }
    .discrete-img-sm {
        padding-left: 45px;
    }
    #discrete-shipping-title {
        float: left;
        font-size: 10px;
        height: 12px;
        margin-top: 5px;
        padding-left: 2px;
        color: black;
        text-decoration: none;
    }
    #discrete-shipping-description {
        font-size: 10px;
        float: left;
        margin-top: 20px;
        height: 12px;
        padding-top: 0;
        margin-left: -98px;
        color: black;
        text-decoration: none;
    }
    #surprise-shipping-container {
        float: left;
    }
    #surprise-shipping-container a {
        float: left;
    }
    #surprise-shipping-title {
        float: left;
        font-size: 10px;
        height: 12px;
        margin-top: 5px;
        padding-left: 2px;
        color: black;
        text-decoration: underline;
    }
    #surprise-shipping-description {
        font-size: 10px;
        float: left;
        margin-top: 20px;
        height: 12px;
        padding-top: 0;
        margin-left: -71px;
        color: black;
        text-decoration: underline;
    }
    /*Body Content*/
    /*Main Article Container*/
    #main-article-container {
        float: left;
        width: 100%;
    }
    /*breadcrumbs*/
    #breadcrumbs {
        float: left;
        width: 100%;
        font-size: 1px;
        padding-top: 30px;
        /*padding-left: 15px;*/
    }
    ul.breadcrumb {
        padding: 10px 16px;
        list-style: none;
    }
    ul.breadcrumb li {
        display: inline;
        font-size: 15px;
    }
    ul.breadcrumb li+li:before {
        padding: 4px;
        color: black;
        content: ">";
    }
    ul.breadcrumb li a {
        color: black;
        text-decoration: none;
        font-size: 15px
    }
    ul.breadcrumb li a:hover {
        color: red;
        text-decoration: none;
    }
}